*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F7EFE8;
}
.main{
    display: flex;
    justify-content: center ;
    background-color: #e0e0e0;
    max-width: 40%;
    height: 100vh;
    margin: 5% 0% 10% 30%;
    border-radius: 20px;
    box-shadow: 20px 20px 15px black , -20px -20px 30px white;
}
.container1{
    display: flex;
    justify-content: center;
    position: relative;
}
.option{
    width: 50%;
    height: 5%;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  3px 3px 9px #825D35,
             -3px -3px 30px #ffffff;
    position: absolute;
    margin:40px 300px 0px 0px;

}
.search{
    width: 50%;
    height: 5%;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 3px 3px 9px #825D35, -3px -3px 30px white;
    position: absolute;
    margin: 40px 0px 0px 300px;
}
.container1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 49px 0px 0px 0px;
}

.taylor{
    width: 20%;
    height: 30%;
    margin-top: 200px;
    position: absolute;
    left: 40%;
    top:10px;
    background-color: #e0e0e0;
    box-shadow: 3px 3px 9px #825D35,-10px -10px 25px white;
    border-radius: 100%;
    border: 2px  #825D35;
    

}
.container2{
    position: absolute;
    top:420px;
    display: block;
    justify-content: center;
    
}
.text{
    margin: 0px 0px 5px 5px;
    font-size: 30px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 800;
}
.name{
    margin: 0px 0px 5px 15px;
    font-size: x-small;
}
.bar{
    width: 200px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:   5px 5px 5px #696969,
              -5px -5px 30px #ffffff;
}
.progress{
    position: absolute;
    top: 500px;
}
.time{
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
background: #1c1a1a;
box-shadow:   5px 5px 5px #696969,
              -5px -5px 30px #ffffff;

}
.next , .prev , .pause{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #e0e0e0;
    box-shadow:  inset 5px 5px 3px #696969 , inset -5px -5px 30px white;
    
}
.button{
    position: absolute;
    bottom: 10%;
    left: 47%;
    display: flex;
    justify-content: center;
}
.prev{
    position: absolute;
    right: 60px;
    top: 10px;

}
.pause{
    position: absolute;
}
.next{
    position: absolute;
    left: 100px;
    top: 10px;
}
@media screen and (max-width:350px){

    .main{
    max-width: 90%;
    margin: 0% 3%;

}
.container1{
    display: flex;
    justify-content: center;
    position: relative;
}
.option{
    width: 50%;
    height: 5%;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  3px 3px 9px #825D35,
             -3px -3px 30px #ffffff;
    /* position: absolute; */
    margin:40px 200px 0px 0px;

}
.search{
    width: 50%;
    height: 5%;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 3px 3px 9px #825D35, -3px -3px 30px white;
    position: absolute;
    margin: 40px 0px 0px 200px;
}
.taylor{
    width: 40%;
    height: 20%;
    margin-top: 200px;
    position: absolute;
    left: 31%;
    top:-10%;
    background-color: #e0e0e0;
    box-shadow: 3px 3px 9px #825D35,-10px -10px 25px white;
    border-radius: 100%;
    border: 2px  #825D35;
    

}
.container2{
    position: absolute;
    top:270px;
    display: block;
    justify-content: center;
    
}
.button{
    position: absolute;
    bottom: 37%;
    left: 43%;
    display: flex;
    justify-content: center;
    /* width: 115%; */
}
.prev{
    position: absolute;
    right: 60px;
    top: 10px;

}
.pause{
    position: absolute;
}
.next{
    position: absolute;
    left: 100px;
    top: 10px;
}
.next , .prev , .pause{
    width: 40px;
    height: 40px;
    scale: 0.9;
    border-radius: 100px;
    /* background:; */
    box-shadow:  inset 5px 5px 3px #696969 , inset -5px -5px 30px white;
    
}
.bar{
    width: 200px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:   5px 5px 5px #696969,
              -5px -5px 30px #ffffff;
}
.progress{
    position: absolute;
    top: 370px;
}
.time{
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
background: #1c1a1a;
box-shadow:   5px 5px 5px #696969,
              -5px -5px 30px #ffffff;

}
}
